.btn,
.btn:visited,
.button,
[type="button"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #fff !important;
  background-color: #ff9e14;
  padding: 0.75em 1.5em;
  display: inline-block;
  border-radius: 2.5px;
  cursor: pointer;
  -webkit-appearance: none; }
  .btn:hover,
  .btn:visited:hover,
  .button:hover,
  [type="button"]:hover,
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    background: #e08400;
    color: #fff; }
  .btn.btn-sm,
  .btn:visited.btn-sm,
  .button.btn-sm,
  [type="button"].btn-sm,
  .woocommerce #respond input#submit.alt.btn-sm,
  .woocommerce a.button.alt.btn-sm,
  .woocommerce button.button.alt.btn-sm,
  .woocommerce input.button.alt.btn-sm {
    font-size: 0.8em;
    padding: 0.5em 1em; }
  .btn.btn-full-width,
  .btn:visited.btn-full-width,
  .button.btn-full-width,
  [type="button"].btn-full-width,
  .woocommerce #respond input#submit.alt.btn-full-width,
  .woocommerce a.button.alt.btn-full-width,
  .woocommerce button.button.alt.btn-full-width,
  .woocommerce input.button.alt.btn-full-width {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1.5rem;
    font-weight: border-left; }
    .btn.btn-full-width:hover img,
    .btn:visited.btn-full-width:hover img,
    .button.btn-full-width:hover img,
    [type="button"].btn-full-width:hover img,
    .woocommerce #respond input#submit.alt.btn-full-width:hover img,
    .woocommerce a.button.alt.btn-full-width:hover img,
    .woocommerce button.button.alt.btn-full-width:hover img,
    .woocommerce input.button.alt.btn-full-width:hover img {
      transform: scale(1.25);
      margin-right: 1.5rem;
      filter: invert(90%) sepia(90%) saturate(2062%) hue-rotate(346deg) brightness(96%) contrast(99%); }
    .btn.btn-full-width img,
    .btn:visited.btn-full-width img,
    .button.btn-full-width img,
    [type="button"].btn-full-width img,
    .woocommerce #respond input#submit.alt.btn-full-width img,
    .woocommerce a.button.alt.btn-full-width img,
    .woocommerce button.button.alt.btn-full-width img,
    .woocommerce input.button.alt.btn-full-width img {
      width: 40px;
      margin-right: 1rem;
      filter: invert(95%) sepia(85%) saturate(121%) hue-rotate(156deg) brightness(113%) contrast(101%);
      transition: 0.2s; }
  .btn.btn-white,
  .btn:visited.btn-white,
  .button.btn-white,
  [type="button"].btn-white,
  .woocommerce #respond input#submit.alt.btn-white,
  .woocommerce a.button.alt.btn-white,
  .woocommerce button.button.alt.btn-white,
  .woocommerce input.button.alt.btn-white {
    background: #fff;
    color: #ff9e14 !important; }
    .btn.btn-white:hover,
    .btn:visited.btn-white:hover,
    .button.btn-white:hover,
    [type="button"].btn-white:hover,
    .woocommerce #respond input#submit.alt.btn-white:hover,
    .woocommerce a.button.alt.btn-white:hover,
    .woocommerce button.button.alt.btn-white:hover,
    .woocommerce input.button.alt.btn-white:hover {
      color: #f4e30c !important;
      background: #256088 !important; }
  .btn.btn-alt,
  .btn:visited.btn-alt,
  .button.btn-alt,
  [type="button"].btn-alt,
  .woocommerce #respond input#submit.alt.btn-alt,
  .woocommerce a.button.alt.btn-alt,
  .woocommerce button.button.alt.btn-alt,
  .woocommerce input.button.alt.btn-alt {
    background: #256088 !important;
    background-image: url("/wp-content/themes/inshorefishing/images/bkd-footer.jpg") !important;
    background-position: 100% 70% !important;
    background-repeat: no-repeat !important;
    background-size: 160% !important;
    color: #fff !important;
    position: relative;
    overflow: hidden;
    transition: 0.2s; }
    .btn.btn-alt span,
    .btn.btn-alt img,
    .btn:visited.btn-alt span,
    .btn:visited.btn-alt img,
    .button.btn-alt span,
    .button.btn-alt img,
    [type="button"].btn-alt span,
    [type="button"].btn-alt img,
    .woocommerce #respond input#submit.alt.btn-alt span,
    .woocommerce #respond input#submit.alt.btn-alt img,
    .woocommerce a.button.alt.btn-alt span,
    .woocommerce a.button.alt.btn-alt img,
    .woocommerce button.button.alt.btn-alt span,
    .woocommerce button.button.alt.btn-alt img,
    .woocommerce input.button.alt.btn-alt span,
    .woocommerce input.button.alt.btn-alt img {
      position: relative;
      z-index: 1; }
    .btn.btn-alt span,
    .btn:visited.btn-alt span,
    .button.btn-alt span,
    [type="button"].btn-alt span,
    .woocommerce #respond input#submit.alt.btn-alt span,
    .woocommerce a.button.alt.btn-alt span,
    .woocommerce button.button.alt.btn-alt span,
    .woocommerce input.button.alt.btn-alt span {
      font-size: 1.25em;
      font-weight: bold; }
    .btn.btn-alt:after,
    .btn:visited.btn-alt:after,
    .button.btn-alt:after,
    [type="button"].btn-alt:after,
    .woocommerce #respond input#submit.alt.btn-alt:after,
    .woocommerce a.button.alt.btn-alt:after,
    .woocommerce button.button.alt.btn-alt:after,
    .woocommerce input.button.alt.btn-alt:after {
      content: '';
      background: #256088;
      background: #ff9e15;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      z-index: 0;
      transition: 0.2s; }
    .btn.btn-alt:hover,
    .btn:visited.btn-alt:hover,
    .button.btn-alt:hover,
    [type="button"].btn-alt:hover,
    .woocommerce #respond input#submit.alt.btn-alt:hover,
    .woocommerce a.button.alt.btn-alt:hover,
    .woocommerce button.button.alt.btn-alt:hover,
    .woocommerce input.button.alt.btn-alt:hover {
      color: #f4e30c !important;
      background-position: 60% 80% !important; }
      .btn.btn-alt:hover:after,
      .btn:visited.btn-alt:hover:after,
      .button.btn-alt:hover:after,
      [type="button"].btn-alt:hover:after,
      .woocommerce #respond input#submit.alt.btn-alt:hover:after,
      .woocommerce a.button.alt.btn-alt:hover:after,
      .woocommerce button.button.alt.btn-alt:hover:after,
      .woocommerce input.button.alt.btn-alt:hover:after {
        background: #143449 !important;
        opacity: 0.85; }

.feature-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%; }
  @media (max-width: 800px) {
    .feature-wrap {
      padding: 2em 0; } }
  .feature-wrap .booking-callout {
    background: rgba(63, 130, 174, 0.7);
    padding: 2em 2em;
    position: relative; }
    .feature-wrap .booking-callout h1 {
      font-size: 3.18em;
      margin: 0; }
      @media (max-width: 800px) {
        .feature-wrap .booking-callout h1 {
          font-size: 2em; } }
      .feature-wrap .booking-callout h1 span {
        display: block;
        font-size: 1.58rem;
        font-weight: 300; }
        @media (max-width: 800px) {
          .feature-wrap .booking-callout h1 span {
            font-size: 1.25rem; } }
    .feature-wrap .booking-callout .btn {
      position: absolute;
      left: 2em;
      bottom: 0;
      transform: translateY(50%);
      text-transform: capitalize; }

.hp-about-section-container {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #bdffff, #ffffff);
  background-image: -webkit-linear-gradient(top, #bdffff, #ffffff);
  background-image: linear-gradient(to bottom, #bdffff, #ffffff);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3em 0 1.5em;
  margin-top: -7rem;
  position: relative;
  z-index: 3; }
  @media (max-width: 910px) {
    .hp-about-section-container {
      padding: 0 2em 0 0; } }
  @media (max-width: 800px) {
    .hp-about-section-container {
      margin-top: 0; } }
  @media (max-width: 650px) {
    .hp-about-section-container {
      padding: 2em;
      flex-direction: column-reverse; } }
  .hp-about-section-container .hp-about-section.about-content {
    width: 66.6%;
    padding: 4em 2em 2em 3em; }
    @media (max-width: 910px) {
      .hp-about-section-container .hp-about-section.about-content {
        width: 60%;
        padding: 2em; } }
    @media (max-width: 650px) {
      .hp-about-section-container .hp-about-section.about-content {
        width: 100%;
        padding: 0; } }
    .hp-about-section-container .hp-about-section.about-content .about-content-links {
      margin-top: 2em; }
      .hp-about-section-container .hp-about-section.about-content .about-content-links a {
        display: inline-block;
        margin: 0 0.25em; }
        @media (max-width: 970px) {
          .hp-about-section-container .hp-about-section.about-content .about-content-links a {
            display: block; }
            .hp-about-section-container .hp-about-section.about-content .about-content-links a + a {
              margin-top: 0.5em; } }
  .hp-about-section-container .about-image-container {
    width: 33.3%;
    box-shadow: 0 5px 10px rgba(35, 37, 40, 0.2);
    line-height: 0; }
    @media (max-width: 910px) {
      .hp-about-section-container .about-image-container {
        width: 40%; } }
    @media (max-width: 650px) {
      .hp-about-section-container .about-image-container {
        width: 80%;
        margin: 0 auto 2em; } }
    .hp-about-section-container .about-image-container img {
      width: 100%; }

.hp-perks-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2em 0; }
  @media (max-width: 750px) {
    .hp-perks-section-container {
      margin: 0; } }
  .hp-perks-section-container .hp-perk-item {
    width: 33%;
    padding: 4em 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 750px) {
      .hp-perks-section-container .hp-perk-item {
        width: 50%;
        padding-top: 2em; } }
    @media (max-width: 500px) {
      .hp-perks-section-container .hp-perk-item {
        width: 100%;
        align-items: center;
        padding-bottom: 2em; }
        .hp-perks-section-container .hp-perk-item + .hp-perk-item {
          border-top: 1px solid #eee; }
        .hp-perks-section-container .hp-perk-item:nth-child(even) {
          flex-direction: row-reverse; }
          .hp-perks-section-container .hp-perk-item:nth-child(even) .hp-perk-item-description {
            padding-left: 0;
            padding-right: 1em; } }
    .hp-perks-section-container .hp-perk-item .hp-perk-item-icon {
      width: 20%;
      color: #256088; }
      .hp-perks-section-container .hp-perk-item .hp-perk-item-icon img {
        display: inline-block;
        filter: invert(22%) sepia(95%) saturate(2543%) hue-rotate(186deg) brightness(87%) contrast(94%); }
    .hp-perks-section-container .hp-perk-item .hp-perk-item-description {
      width: 80%;
      padding-left: 2em;
      margin-top: 0; }

.prefooter-booking-callout-wrap .prefooter-booking-callout {
  max-width: 1220px;
  margin: 3em auto;
  background-color: #ff9e14;
  padding: 1rem 2.5rem 1rem 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(79, 79, 79, 0.15); }
  @media (max-width: 560px) {
    .prefooter-booking-callout-wrap .prefooter-booking-callout {
      padding: 3rem 2rem; } }
  .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container {
    width: 35%;
    text-align: center;
    padding: 0 4rem;
    margin-top: -4rem; }
    .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container img {
      border-radius: 100%; }
    @media (max-width: 930px) {
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container {
        margin-top: 0; } }
    @media (max-width: 850px) {
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container {
        padding: 0 1.5rem;
        width: 35%; } }
    @media (max-width: 560px) {
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container {
        width: 100%;
        margin-bottom: 2rem; }
        .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-image-container img {
          width: 70%; } }
  .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 850px) {
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content {
        width: 65%; } }
    @media (max-width: 560px) {
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content {
        width: 100%; } }
    .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-details {
      width: 60%;
      font-weight: 300;
      padding-right: 2rem; }
      @media (max-width: 850px) {
        .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-details {
          width: 100%; } }
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-details strong {
        font-size: 1.25em;
        color: #256088; }
    .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact {
      width: 40%;
      font-size: 1.58em;
      text-align: right; }
      @media (max-width: 850px) {
        .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact {
          width: 100%;
          text-align: left;
          margin-top: 1rem; }
          .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact span {
            display: inline-block !important;
            margin-left: 0.25rem; } }
      @media (max-width: 500px) {
        .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact {
          text-align: center; } }
      .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact p span {
        display: block;
        padding-top: 0.25em; }
        .prefooter-booking-callout-wrap .prefooter-booking-callout .prefooter-booking-callout-content .prefooter-booking-callout-contact p span .btn {
          font-size: 1.4rem;
          font-weight: bold;
          padding: 0.35em 1.35em;
          margin-left: 0.25rem; }

.testimonials-listing-hp {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2em 1.5em; }
  @media (max-width: 580px) {
    .testimonials-listing-hp {
      padding: 0; } }
  .testimonials-listing-hp .testimonial-item {
    position: relative;
    padding: 0 3.5em; }
    @media (max-width: 580px) {
      .testimonials-listing-hp .testimonial-item {
        padding: 0 2em; } }
    .testimonials-listing-hp .testimonial-item .testimonial-item-quote {
      width: 41px;
      position: absolute; }
      .testimonials-listing-hp .testimonial-item .testimonial-item-quote.quote-start {
        left: 0;
        top: 0; }
        @media (max-width: 580px) {
          .testimonials-listing-hp .testimonial-item .testimonial-item-quote.quote-start {
            left: -1em; } }
      .testimonials-listing-hp .testimonial-item .testimonial-item-quote.quote-end {
        right: 0;
        bottom: 0; }
        @media (max-width: 580px) {
          .testimonials-listing-hp .testimonial-item .testimonial-item-quote.quote-end {
            right: -1em; } }
    .testimonials-listing-hp .testimonial-item .tesitmonial-item-author {
      font-size: 0.77em;
      font-style: italic; }
    .testimonials-listing-hp .testimonial-item .tesitmonial-item-quote-text {
      font-size: 1.3em; }
      @media (max-width: 580px) {
        .testimonials-listing-hp .testimonial-item .tesitmonial-item-quote-text {
          font-size: 1em; } }
  .testimonials-listing-hp .more-testimonials-link {
    font-size: 0.89em;
    text-align: right;
    margin-top: 2em;
    padding-right: 9em; }

.blog-species-section-container-wrap {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  padding: 1em 0 0; }
  .blog-species-section-container-wrap .blog-species-section-container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transform: translateY(3em); }
    .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap {
      width: calc(66% - 0.5rem);
      padding: 0 1.5em; }
      @media (max-width: 1080px) {
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap {
          width: 55%; } }
      @media (max-width: 650px) {
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap {
          width: 100%; } }
      .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp-heading-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2em; }
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp-heading-section h2,
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp-heading-section .more-articles-link {
          margin: 0; }
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp-heading-section h2 {
          font-size: 1.295em; }
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp-heading-section .more-articles-link {
          margin: 0.25em 0 0 1em;
          font-size: 0.88em; }
      .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item {
          width: calc(50% - 0.75rem);
          box-shadow: 0 5px 10px rgba(35, 37, 40, 0.2);
          height: 0;
          padding-top: calc(50% - 0.75rem);
          position: relative; }
          @media (max-width: 860px) {
            .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item {
              width: 100%;
              background-size: cover; }
              .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item + .blog-listing-item {
                margin-top: 1.25em; } }
          @media (max-width: 650px) {
            .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item {
              padding-top: calc(75% - 0.75rem); } }
          .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item:hover:after {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9e14+0,ff9e14+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(255, 158, 20, 0) 0%, #ff9e14 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 158, 20, 0) 0%, #ff9e14 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 158, 20, 0) 0%, #ff9e14 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff9e14', endColorstr='#ff9e14',GradientType=0 );
            /* IE6-9 */ }
          .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item:hover .blog-item-title {
            color: #fff !important; }
          .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#235f8a+0,235f8a+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(35, 95, 138, 0) 0%, #235f8a 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(35, 95, 138, 0) 0%, #235f8a 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(35, 95, 138, 0) 0%, #235f8a 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00235f8a', endColorstr='#235f8a',GradientType=0 );
            /* IE6-9 */
            transition: 0.3s; }
          .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item .blog-listing-item-link {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
          .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item .blog-listing-item-content {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            color: #fff;
            padding: 1.5em; }
            .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item .blog-listing-item-content .blog-article-meta {
              font-size: 0.7em; }
            .blog-species-section-container-wrap .blog-species-section-container .blog-listing-hp-wrap .blog-listing-hp .blog-listing-item .blog-listing-item-content .blog-item-title {
              margin-top: 0.5em;
              color: #ff9e14; }
    .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap {
      width: 34%;
      padding: 0 1.5em; }
      @media (max-width: 1080px) {
        .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap {
          width: 45%; } }
      @media (max-width: 650px) {
        .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap {
          width: 100%;
          width: 90%;
          margin: 2em auto 0; } }
      .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp {
        box-shadow: 0 5px 10px rgba(35, 37, 40, 0.2);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#358eaf+0,235f8a+100 */
        background: #358eaf;
        /* Old browsers */
        background: -moz-linear-gradient(top, #358eaf 0%, #235f8a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #358eaf 0%, #235f8a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #358eaf 0%, #235f8a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358eaf', endColorstr='#235f8a',GradientType=0 );
        /* IE6-9 */ }
        .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp h2 {
          background: #2a71a0;
          color: #fff;
          font-size: 1.29em;
          text-transform: capitalize;
          padding: 1em; }
        .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 1em; }
          .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing .species-listing-item {
            width: 50%;
            padding: 1em; }
            .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing .species-listing-item .species-image {
              filter: brightness(0) invert(1); }
            .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing .species-listing-item .species-item-name {
              font-size: 0.7em;
              color: #fff; }
          .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing .species-more-link {
            text-align: right;
            width: 100%; }
            .blog-species-section-container-wrap .blog-species-section-container .species-listing-hp-wrap .species-listing-hp .species-listing .species-more-link .btn {
              transform: translateX(1.5em); }

.call-now-booking-callout {
  margin-top: 4rem; }

/*# sourceMappingURL=home.css.map */
