@import 'compass/css3';
@import 'bits';

/* CSS Document */

// ---------------------------------------------------------------------------------
// ----- LANDING PAGE ---------------------------------------------------------------
// ---------------------------------------------------------------------------------
.blog,
.archive.section-blog {
	.blog-listing {
		.blog-item {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			border-radius: 15px;
			box-shadow: 0 2px 12px rgba(35,37,40,0.2);

			&:nth-child(odd) {
				flex-direction: row-reverse;

				.blog-item-image {
					border-radius: 0 15px 15px 0;
				}
			}

			& + .blog-item {
				margin-top: 2em;
			}

			.blog-item-image {
				width: 40%;
				border-radius: 15px 0 0 15px;
				overflow: hidden;


				a {
					display: block;
					background-size: cover;
					height: 100%;
					background-position: 50% 0%;
					//padding-top: 200%;
					position: relative;
				}
			}

			.blog-item-content {
				padding: 1em 2em;
				border-radius: 0 15px 15px 0;

				&.has-blog-image {
					width: 60%;

					h2 {
						margin: 0;
					}

					.blog-article-meta {
						margin: 0.25em 0 1.5em;
						font-style: italic;
						color: #777;
						font-size: 0.9em;
					}
				}

				.btn-sm {
					margin-top: 1em;
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- SIDEBAR -------------------------------------------------------------------
// ---------------------------------------------------------------------------------

/* --------------------------------------------- CATEGORIES -- */
.widget_categories {
	h2 {
		margin-bottom: 0.5em;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul {
		li {
			& + li {
				border-top: 1px solid #eee;
			}

			a {
				display: block;
				padding: 0.5em;
				transition: 0.3s;

				&:hover {
					background: $brand;
					color: #fff;
					padding-left: 0.8em;
					border-left: 8px solid $brand-dk;
				}
			}
		}
	}
}




























