
.btn,
.btn:visited,
.button,
[type="button"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	color: #fff !important;
	background-color: $brand;
	padding: 0.75em 1.5em;
	display: inline-block;
	border-radius: $rad/2;

	&:hover {
		background: $brand-dk;
		color: #fff;
	}

	&.btn-sm {
		font-size: 0.8em;
		padding: 0.5em 1em;
	}

	&.btn-xsm {
	}

	&.btn-lg {
	}

	&.btn-alt {
		background-color: #fff;
		color: $brand !important;
	}
}