@import 'compass/css3';
@import 'bits';

/* CSS Document */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}


// ---------------------------------------------------------------------------------
// ----- CORE STYLES ---------------------------------------------------------------
// ---------------------------------------------------------------------------------
html, body {
	overflow-x: hidden;
}

body {
	color: #000;
	font-size: 17px;
	line-height: 1.5;
}

a, a:visited {
	color: #000;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #000;
	}
}

img {
	max-width: 100%;
	height: auto !important;
}

hr {
}


// ---------------------------------------------------------------------------------
// ----- HEADER --------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.header-wrap {
}

.site-logo {
}


// ---------------------------------------------------------------------------------
// ----- FEATURE -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.feature-wrap {
}


// ---------------------------------------------------------------------------------
// ----- CONTENT -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.content-wrap {
	max-width: 0px;
	margin: 0 auto;
}

.content-area {

	&.has-sidebar {
	}
}

.sidebar-area {
}


// ---------------------------------------------------------------------------------
// ----- FOOTER --------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-wrap {
}

.footer-info {
}