
@import 'buttons';

// ---------------------------------------------------------------------------------
// ----- COMMON STYLES -------------------------------------------------------------
// ---------------------------------------------------------------------------------
label {
	margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
select {
	width: 100%;
	padding: 0.5rem;
	font-size: 1em;
	border: 1px solid #ccc;
}

textarea {
	font-family: sans-serif;
	padding: 1rem;
	resize: none;
}

input[type="submit"],
input[type="button"],
button {
	@extend .btn;
	border: 0;
	font-size: 1em;
}

.nf-form-fields-required {
	display: none;
}


/* --------------------------------------------- ALERTS -- */
.nf-response-msg[style="display: block;"] {
	background: #d0ffff;
	padding: 2rem;
	display: flex !important;
	flex-direction: row;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	h2 {
		width: 20%;
		font-size: 2.75em;
		text-align: center;
		margin: 0;
		color: #3b7b5d;
	}

	.success-content {
		width: 75%;
	}
}