@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- BOAT RAMPS ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.boat-ramp-row {
	& + .boat-ramp-row {
		margin-top: 1.5em;
	}

	.boat-ramp {
		border-radius:15px;
		box-shadow: 0 5px 10px rgba(35,37,40,0.2);
		margin: 0 1.5em 0 0 !important;
		transition: 0.3s;

		&:hover {
			transform: scale(1.05);
			background: $brand-secondary;
			color: #fff;
		}

		.wp-block-image {
			border-radius: 15px 15px 0 0;
			overflow: hidden;
			margin: 0;
		}

		p {
			padding: 1em 1.5em 1.5em;

			strong {
				font-size: 1.25em;
				line-height: 1.3;
				display: inline-block;
				padding-bottom: 0.5em;
			}
		}
	}
}









