@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- BOAT RAMPS ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.boat-ramp-listing {
	display: flex;
	flex-wrap: wrap;

	.boat-ramp-item {
		width: calc(33.33% - 1rem);
		@include inshorecard();
		margin: 0 0.5rem 1rem;
		transition: 0.3s;

		.boat-ramp-map {
			border-radius: $rad $rad 0 0;
			overflow: hidden;
			margin: 0;
		}

		.boat-ramp-meta {
			padding: 1.5rem;

			h2 {
				margin: 0;
			}
		}
	}
}









