@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- LANDING PAGE --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.page-id-13 {
	.wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner>[class*="wp-block-"] {
		max-width: 100% !important;
	}

	.has-medium-gutter>[class*="wp-block-coblocks-"]:not(:first-child) {
		margin: 0;
	}
}

figure {
	margin-top: 0.5rem;

	&.alignright,
	&.alignleft {
		@media (max-width: 600px) {
			float: none !important;
			margin: 0 0 1rem !important;
			width: 100%;
			text-align: center;

			img {
				width: 100% !important;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- BOAT RAMPS ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.boat-ramp-listing {
	display: flex;
	flex-wrap: wrap;

	.boat-ramp-item {
		@include inshorecard();
		margin: 0 0.5rem 1rem;
		transition: 0.3s;

		@media (min-width: 600px) {
			width: calc(50% - 1rem);
		}

		@media (min-width: 960px) {
			width: calc(33.33% - 1rem);
		}

		.boat-ramp-map-link {
			display: block;
			overflow: hidden;
		}

		.boat-ramp-map {
			border-radius: $rad $rad 0 0;
			overflow: hidden;
			margin: 0;
			@include transform(scale(1.25));
		}

		.boat-ramp-meta {
			padding: 1.5rem;

			h2 {
				margin: 0;
			}
		}
	}
}









