
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.top-nav {

	ul,
	ul li {
	}

	ul li {

		a {
		}

		&:hover a {
		}

		&.current-menu-item a {
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;

				li {
					display: block;
					width: 15em;

					a {
						display: block;

						&:hover {
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav {
}