@import 'compass/css3';

// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.top-nav {
	position: relative;
	z-index: 3;

	@media (max-width: 680px) {
		display: none;
	}

	ul,
	ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		> li {
			position: relative;

			&.current-menu-item,
			&.current-menu-parent {

				&.menu-item-has-children {

					&:after {
						color: $brand;
						content: "\f107";
					}
				}

				a {
					background: $brand;
					color: #fff;

				}
			}

			a {
				font-size: 0.85em;
				padding: 0.5em;
				display: block;
				font-weight: normal;
			}

			&:hover a,
			&.current-menu-parent a {
				background: $brand-dk;
				color: #fff;
			}

			&.spacer {
		    	display: none;

		    	@media (max-width: 1080px) {
		    		display: block;
		    		width: 100%;
		    		height: 0;
		    	}
		    }

			&.page_item_has_children,
			&.menu-item-has-children {
				position: relative;

				&:hover {

					&:after {
						color: #fff;
						content: "\f107";
						@include transform(translateY(-50%) rotate(-90deg));
						right: 0.25em;
					}
				}

				&:after {
					transition: 0.2s;
					position: absolute;
					top: 50%;
					right: 0.5em;
					@include transform(translateY(-50%));
					@include transition(0.2s);
					content: "\f107";
					font-family: "Font Awesome 5 Free";
					font-size: 0.9em;
					color: $brand;
				}

				& > a {
					padding: 0.5em 1.35em 0.5em 0.5em;
				}

				ul {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;

					li {
						display: block;
						min-width: 10rem;

						a {
							display: block;
							text-align: left;
							padding: 0.5em 1em;
							white-space: nowrap;

							&:hover {
								background: $brand;
							}
						}
					}
				}

				&:hover ul {
					display: block;
				}
			}
		}
	}
}

.category-fishing-report .top-nav .menu-item-161 a {
	background: none !important;
	color: $brand !important;

	&:hover {
		background: $brand-dk !important;
		color: #fff !important;
	}
}

.single-post .current_page_parent {
	a {
		background: none !important;
		color: $brand !important;
	}

	&:hover {
		a {
			background: $brand-dk !important;
			color: #fff !important;
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {

	ul,
	ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu {

		> li {

			a {
			}

			&:hover a {
			}

			&.current-menu-item a {
			}

			&.spacer {
		    	display: none;
		    }

			&.page_item_has_children,
			&.menu-item-has-children {

				ul {
					display: none;
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav,
.mobile-nav-icon,
.mobile-nav-close {
	display: none;
}

.mobile-nav-icon,
.mobile-nav-close {
	margin-top: 0;
	font-size: 1.75em;
	line-height: 1;
	position: absolute;
	right: 0;
}

.mobile-nav-icon {
	@media (max-width: 680px) {
		display: block;
	}
}

.mobile-nav {
	display: none;
	position: relative;
	z-index: 5;
	background: $brand-secondary;

	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu {
		margin: 0;

		li {
			a {
				display: block;
			    font-size: 0.75em;
			    text-transform: uppercase;
			    padding: 1em;
			    //color: #fff;
			}

			& + li {
		    	border-top: 1px solid #fff;
		    }

		    &.spacer {
		    	display: none;
		    }

			&:hover a,
			&.current-menu-item a {
				color: #fff;
				background: $brand;
			}

			ul {
				display: none;
			}
		}
	}
}











