



// ---------------------------------------------------------------------------------
// ----- COMMON STYLES -------------------------------------------------------------
// ---------------------------------------------------------------------------------
.not-front {
	.header-wrap {
		height: 360px;
		min-height: 0;
	}

	.content-wrap {
		padding: 4em 1.5em 1em;
	}
}